<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RemindMe.io</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
</head>
<body>

<script type="text/javascript">
    $(document).ready(function () {
        $('#submit').click(function() {
            checked = $("input[type=checkbox]:checked").length;

            if(!checked) {
                document.getElementById('error').style = "color: red; display: inline-text; margin-bottom: 10px";
                return false;
            }
        });
        $("input[type=checkbox]").click(function() {
            checked = $("input[type=checkbox]:checked").length;
            if(checked)
                {
                document.getElementById('error').style = "display: none"
            }
        });
    });
</script>

<h1>Remind Me</h1>
<form id="my_method_of_contact" method="post" action="/submit">
    <fieldset>
        <legend>How would you like to receive your reminder?</legend>
        <div id="error" style="display: none">
            <strong>**You must choose at least one method to receive your reminder**</strong>
        </div>
        <input type="checkbox" name="sms" value="1">Text Message<br>
        <input type="checkbox" name="email" value="1">Email<br>
        <input type="checkbox" name="call" value="1">Phone Call<br>
        <br>
        <label for="reminder">Enter a reminder: </label>
        <input style="width: 300px" type="text" name="reminder" id="reminder" maxlength="140" required placeholder="Get toilet paper before the hoarders buy it all">
        <input id="submit" type="submit" value="Submit">
    </fieldset>
</form>
</body>
</html>